<html>
<head>
	{% block head %}
		<title>Usuarios</title>
		<link href="/media/bootstrap/Asisco/bootstrap.min.css" rel="stylesheet"/>
		
		<!--<script src="{{ MEDIA_URL }}bootstrap/bootstrap.min.js"/>-->
		
		<link href="/media/bootstrap/bootswatch.css" rel="stylesheet"> 
		<link href="/media/bootstrap/bootstrap-responsive.min.css" rel="stylesheet"> 
		<!--<link href="bootstrap/font-awesome.min.css" rel="stylesheet"> -->          	
		
		<script src="/media/bootstrap/jquery.min.js"></script>
		<script src="/media/bootstrap/bootstrap.min.js"></script>
		<script src="/media/bootstrap/bootswatch.js"></script>
		<script src="/media/bootstrap/jquery.smooth-scroll.min.js"></script>
		
		<script type="text/javascript">		
			
			{% if execute_transation == 'S' %}
				alert('Ação executada com sucesso');
				close__('S');
			{% endif %}
			
			function close__(execute_transation) {	
				if (execute_transation == 'S') {			
					window.opener.location.reload();
					//window.opener.location.replace(window.opener.location); 
				}				
				window.close();				                
			}
		</script>		
		
	{% endblock %}
</head>
<body>
	
	
	
	{% block body %}
		<!-- Conteudo -->
		{% include template %}
	{% endblock %}	
	
	<br/><br/>
	
	<div class="text-center">
		<span class="label label-important">asisco.com.br</span>
	</div>
	<br/>

	
</body>
</html>
