{% extends '_base.html' %}

{% block body %}

	<div class="container">
		
		<br/><br/><br/>
		
		<h1 class="text-warning">Deseja realmente Excluir ? </h1>
		<br/>
		<form method="POST" action=""> {% csrf_token %}
			<h3>{{ cliente.nome }} </h3>
			<p>Tel: {{ cliente.telefone.numero }} </p>
			<p>CNPJ: {{ cliente.cnpj_cpf }}</p>
						
			
			<br/><br/>	
			
			<input type="submit" value="Excluir" class="btn btn-danger"/>
			<a href="/clientes/" class="btn">Cancelar</a>			
			
		</form>
		
	</div>	
	

{% endblock %}
