{% extends '_base.html' %}

{% block body %}

	<div class="container">
		
		<script type="text/javascript">
		
			function new_tel_(url) {
				var w = window.open(url, '', 'height=500, width=700, top=100, left=250, scrollbars=no, resizable=no');
				//alert(url);
			}
		
		</script>
		
		
		<h1>Cadastro de Fornecedor</h1>
		
		<br/>

		<!--
		<form method="POST" action=""> {% csrf_token %}
			CNPJ/CPF<br/>
			<input type="text" value="{{model.cnpj_cpf}}"/><br/>
			Nome<br/>
			<input type="text" value="{{model.nome}}"/><br/>
			
			<input type="submit" value="Salvar" class="btn"/>
			
		</form>
		-->
		
		<hr/> 
		
		<form method="POST" action="">
			<p>
				<label for="id_cnpj_cpf">Cnpj cpf:</label> 
				<input id="id_cnpj_cpf" type="text" name="cnpj_cpf" maxlength="20" />
			</p>
			<p>
				<label for="id_nome">Nome:</label> 
				<input id="id_nome" type="text" name="nome" maxlength="50" />
			</p>
			<p>
				<label for="id_telefone">Telefone:</label> 
				<select name="telefone" id="id_telefone">				
					<option value="" selected="selected">---------</option>
					{% for t in telefones %}
						<option value="{{ t.id }}">({{t.ddd}}) {{t.numero}}</option>
					{% endfor %}				
				</select>
				<a href="/tel_new/" onclick="new_tel_(this.href); return false;"><i class="icon-plus"></i></a>
			</p>
		</form>
		
		
		
	</div>

{% endblock %}
