{% extends '_base_simple.html' %}

{% block body %}

	<br/><br/>
	
	<h3 class="text-warning">NF: {{ nf.numero }}</h3>
	Data:
	<p>{{ nf.data }}</p>
	Cliente:
	<p>{{ nf.cliente }}</p>
	
	<hr/>
	
	<!-- {{ form.as_p }}	 -->
	<form action="" method="POST"> {% csrf_token %}

		{% if form.nota.errors %}
			{% for error in form.nota.errors %}
				<div id="group-error" class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Nota: {{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endif %} 								
		<input type="hidden" name="nota" id="id_nota" value="{{nf.id}}"/>		
		
		<p>
			<label for="id_produto">Produto:</label> 
			{% if form.produto.errors %}
				{% for error in form.produto.errors %}
					<div id="group-error" class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Produto: {{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %} 					
			<select name="produto" id="id_produto">
				<option value="" selected="selected">---------</option>
				{% for p in produtos %}
					<option value="{{ p.id }}">{{ p.nome }}</option>
				{% endfor %}
			</select>
		</p> 
		<p>
			<label for="id_quantidade">Quantidade:</label> 
			{% if form.quantidade.errors %}
				{% for error in form.quantidade.errors %}
					<div id="group-error" class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Produto: {{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %} 							
			<input type="text" name="quantidade" id="id_quantidade" />
		</p>	
		
		<input type="submit" value="Add" name="save" class="btn btn-success"/>
		<a href="#" onclick="close__('N');" class="btn">Cancelar</a>
		
	</form>

{% endblock %}
