{% extends '_base.html' %}

{% block body %}

	<script type="text/javascript">
	
		function delete__(url) {
				w = window.open(url,
								'',
								'height=550, width=750, top=100, left=250, scrollbras=no, resizable=no');
		}
		
	</script>
	
	<div class="container">
		<br/><br/>
		<br/><br/>
		
		<div class="row">
		<h3>
			<div class="span3">
				<span class="text-error">NF: </span>{{ nf.numero }}
			</div>
			<div class="span3">
				<span class="text-error">CNPJ: </span>{{ nf.cliente.cnpj_cpf }}
			</div>
		</h3>
		</div>
		<div class="row">
			<div class="span3">
				<p><span class="text-error">Cliente: </span>{{ nf.cliente.nome }}</p>
			</div>
			<div class="span3">
				<p><span class="text-error">Data: </span>{{ nf.data }}</p>
			</div>
			<div class="span3">
				<a href="/vendas_produtos/" class="btn">Voltar</a>
				<a href="/nf_delete/{{ nf.id }}/" onclick="delete__(this.href); return false;" class="btn btn-danger">Excluir Nota</a>
			</div>
		</div>
		
		<br/><br/>
		<h5 class="text-info">Produtos</h5>
		<table class="table">
			<thead>
				<tr class="text-info">
					<!--<td>ID</td>-->
					<td>Código</td>
					<td>Nome</td>
					<td>Marca</td>
					<td>Valor Unt.</td>
					<td>Qtde</td>
					<td>Valor</td>
					<td>Ação</td>
				</tr>
			</thead>
    		<tfoot>
				<tr>
					<!--<td></td>-->
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>{{ nf.valorTotal }}</td>
					<td></td>
				</tr>
			</tfoot>			
			{% for item in items %} 
			<tr> 
				<!--<td>{{ item.produto.id }}</td>-->
				<td>{{ item.produto.codigo }}</td>
				<td>{{ item.produto.nome }}</td>
				<td>{{ item.produto.marca.nome }}</td>
				<td>{{ item.produto.valor }}</td>
				<td>{{ item.quantidade }}</td>
				<td>{{ item.valorTotal }}</td>
				<td><a href="#" title="Exluir Produto da Nota" onclick="alert('Em desenvolvimento');">Excluir</a></td>
			</tr>
			{% empty %}
				<h3>Não há produtos relacionados na Nota Fiscal</h3>
			{% endfor %}
		</table>
		
	</div>
{% endblock %}
