{% extends '_base_simple.html' %}

{% block body %}

	<div class="container">
		
		<script type="text/javascript">		
			
			{% if delected == 'S' %}
				alert('Excluído com sucesso');
				close__('S');
			{% endif %}
			
			function close__(delected) {	
				if (delected == 'S') {			
					//window.opener.location.reload();
					window.opener.location.replace('/vendas_produtos/');
				}				
				window.close();				                
			}
		</script>
		
		<br/><br/><br/>
		
			<h1 class="text-warning">Deseja realmente Excluir ? </h1>
			<br/>
			<form method="POST" action=""> {% csrf_token %}
				<h3>Nota: {{ nf.numero }} </h3>
				<h3>CNPJ: {{ nf.cliente.cnpj_cpf }} </h3>
				<p>Cliente: {{ nf.cliente.nome }} </p>
				<p>Data: {{ nf.data }} </p>
				
				<br/><br/>	
				
				<input type="submit" value="Excluir" class="btn btn-danger"/>
				<a href="#" onclick="close__('N')" class="btn">Cancelar</a>			
				
			</form>
		
	</div>	
	

{% endblock %}
