{% extends '_base.html' %}

{% block body %}

	<div class="container">
		<h1>Vendas de Produtos</h1>
		
		<br/>
		
		<form method="POST" action="">
			<p>
				<label for="numero">NF</label>
				<input type="text" id="numero" name="numero" value="{{nf.numero}}"/>
			</p>
			<p>
				<label for="data">Data</label>
				<input type="text" id="data" name="data" value="{{nf.data}}"/>			
			</p>
			<p>
				<label for="id_cliente">Cliente:</label>
				<select name="cliente" id="id_cliente">
					<option value="">-------</option>
					{% for c in clientes %}
						<option value="{{c.id}}">{{c.nome}}</option>
					{% endfor %}
				</select>
				<a href="#"><i class="icon-plus"></i></a>
			</p>
			
			<input type="submit" value="Salvar" class="btn btn-primary"/>
			<a href="/vendas_produtos/" class="btn">Cancelar</a>
			
			<hr/>
			
			<table class="table table-hover">
				
			</table>
			
			
		</form>
		
		
	</div>

{% endblock %}
