{% extends '_base.html' %}

{% block body %}


	<!-- Asisco LightBox CSS -->
	<link rel="stylesheet" type="text/css" href="/media/gallery/lightbox/asisco/lightbox_display/css/prettyPhoto.css" />
	<!-- jQuery Library (skip this step if already called on page ) -->
	<script type="text/javascript" src="/media/gallery/lightbox/asisco/lightbox_display/js/jquery.min.js"></script> <!-- (do not call twice) -->
	<!-- v LightBox JS -->
	<script type="text/javascript" src="/media/gallery/lightbox/asisco/lightbox_display/js/jquery.prettyPhoto.js"></script>
	<!-- Asisco LightBox Settings -->
	<script type="text/javascript">
	$(function(){
		$("a[rel^='prettyPhoto']").prettyPhoto({
			social_tools: false,
		});
	});
	</script>




	<div class="container">
		<br/><br/><br/>
		
		<h1>Cadastro de Produto (Alteração)</h1>
		<br/>
		
		<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
		
			{{ form.as_p }}
			
			<!--<img src="/media/{{form.foto.value}}"/>-->
			
			<br/>			
			
			<input type="submit" value="Salvar alteração" class="btn btn-success" name="save"/>
			<a href="/produtos/" class="btn">Cancelar</a>
		
		</form>
		
		
		
		<a href="/produto_fotos/{{ produto.id }}">
			Mais Fotos (Adicionar/Alterar)<br/><br/>
		</a>
	
		<!-- Asisco LightBox:Inline Start -->
			<a href="#inline-2" rel="prettyPhoto[inline]"><img src="{{foto_main.foto.url}}" height="200" width="250"/></a>
			<div id="inline-2" style="display:none;">
				<img src="{{foto_main.foto.url}}"/>
			</div>
		<!-- Asisco LightBox:Inline End -->		

		
	</div>
{% endblock %}
