{% extends '_base_delete.html' %}

{% block body %}
	<div class="container">
		
		<script type="text/javascript">		
			
			{% if delected == 'S' %}
				alert('Excluído com sucesso');
				close__('S');
			{% endif %}
			
			function close__(delected) {	
				if (delected == 'S') {			
					window.opener.location.reload();
					//window.opener.location.replace(window.opener.location);
				}				
				window.close();				                
			}
		</script>
		
		<br/><br/><br/>
		
			<h1 class="text-warning">Deseja realmente Excluir ? </h1>
			<br/>
			<form method="POST" action=""> {% csrf_token %}
				<h3>{{ produto.nome }} </h3>
				<p>Valor: {{ produto.valor }}</p>
				<p>Marca: {{ produto.marca.nome }}</p>
				
				<br/><br/>	
				
				<input type="submit" value="Excluir" class="btn btn-danger"/>
				<a href="#" onclick="close__('N')" class="btn">Cancelar</a>			
				
			</form>
		
	</div>	
	
{% endblock %}
