{% extends '_base.html' %}

{% block body %}		
	
	<div class="container">
		
		<br/><br/>
		
		<h3> Cadastrar Nova Foto para "{{ produto.nome }}"</h3>
		
		<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
			{{ form.as_p }}
			
			<input type="submit" class="btn" value="Salvar"/>
			<a href="/produto_edit/{{produto.id}}">Cancelar</a>
			
		</form>
		
		<br/>
		<h1>Fotos</h1>
		
		<a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Diego Modal</a>
		
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Consultar Valor</h3>
		  </div>
		  <div class="modal-body">
				{% for f in fotos %} 
						<img src="{{f.foto.url}}"/>

						<form action="" method="POST"> {% csrf_token %}
							<p>
								<input type="checkbox" name="principal" id="id_principal" value="{{f.principal}}"/>
								Principal
							</p>			
							<input type="submit" value="Salvar" name="save_update" class="btn btn-success"/>
						</form>
						
						<div class="btn-group">
						  <a class="btn dropdown-toggle btn-inverse" data-toggle="dropdown" href="#">
							Opçoes
							<span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu">
							<!-- dropdown menu links -->
							<a href="#">Excluir</a>
						  </ul>
						</div>						
						<hr/>
				{% endfor %}

		  </div>
		  <div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
		</div>
		
	</div>
{% endblock %}
