{% extends '_base.html' %}

{% block body %}


	<!-- Asisco LightBox CSS -->
	<link rel="stylesheet" type="text/css" href="/media/gallery/lightbox/asisco/lightbox_display/css/prettyPhoto.css" />
	<!-- jQuery Library (skip this step if already called on page ) -->
	<script type="text/javascript" src="/media/gallery/lightbox/asisco/lightbox_display/js/jquery.min.js"></script> <!-- (do not call twice) -->
	<!-- v LightBox JS -->
	<script type="text/javascript" src="/media/gallery/lightbox/asisco/lightbox_display/js/jquery.prettyPhoto.js"></script>
	<!-- Asisco LightBox Settings -->
	<script type="text/javascript">
	$(function(){
		$("a[rel^='prettyPhoto']").prettyPhoto({
			social_tools: false,
		});
	});
	</script>




	<div class="container">
		
		
		<h1 class="text-error">Cadastro de Produto (Alteração)</h1>
		<br/>
		
				<div class="row well">
					<div class="span8">
						<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal"> {% csrf_token %}
							<div class="control-group">
								<label class="control-label">{{ form.codigo.label }}</label>										
								<div class="controls">
									<input name="{{form.codigo.name}}" type="text" value="{{ form.codigo.value }}">
									<!--<input name="email" type="email" value="" id="email">-->
									{% if form.codigo.errors %}
										{% for error in form.codigo.errors %}
											<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
										{% endfor %}
									{% endif %} 									
								</div>	
							</div>

							<div class="control-group">
								<label class="control-label">{{ form.nome.label }}</label>										
								<div class="controls">
									<input name="{{form.nome.name}}" type="text" value="{{ form.nome.value }}">
									<!--<input name="email" type="email" value="" id="email">-->
									{% if form.nome.errors %}
										{% for error in form.nome.errors %}
											<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
										{% endfor %}
									{% endif %} 									
								</div>	
							</div>

							<div class="control-group">
								<label class="control-label">{{ form.valor.label }}</label>										
								<div class="controls">
									<input name="{{form.valor.name}}" type="text" value="{{ form.valor.value }}">
									{% if form.valor.errors %}
										{% for error in form.valor.errors %}
											<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
										{% endfor %}
									{% endif %} 									
								</div>	
							</div>

							<div class="control-group">
								<label class="control-label">{{ form.data_compra.label }}</label>										
								<div class="controls">
									<input name="{{form.data_compra.name}}" type="text" value="{{ form.data_compra.value }}">
									{% if form.data_compra.errors %}
										{% for error in form.data_compra.errors %}
											<span class="help-inline"><span class="text-error">{{ error|escape }}</span></span>
										{% endfor %}
									{% endif %} 									
								</div>	
							</div>
							
							<div class="control-group">
								<label class="control-label">	
									{{ form.marca.label }}
								</label>
								<div class="controls">
									{{ form.marcas }}
									<select name="country" id="country">
										<option value=""></option>	
									</select>
								</div>
							</div>

							<div class="form-actions">
								<button type="submit" class="btn btn-large btn-primary">Save Billing Address</button>
							</div>
						</form>
					</div> <!-- .span8 -->
				</div>
		
		<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
		
			<!--{ form.as_p }}-->			
			
			{{ form.codigo.label }}<br/>
			{% if form.codigo.errors %}
				{% for error in form.codigo.errors %}
					<div id="group-error" class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Código: {{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %} 			
			{{ form.codigo }}
			
			<br/>
			
			{{ form.nome.label }}<br/>
			{% if form.nome.errors %}
				{% for error in form.nome.errors %}
					<div id="group-error" class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Nome: {{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %} 				
			{{ form.nome }}
			<br/>
			{{ form.valor.label }}<br/>
			{% if form.valor.errors %}
				{% for error in form.valor.errors %}
					<div id="group-error" class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Valor: {{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %} 			
			{{ form.valor }}
			<br/>
			{{ form.data_compra.label }}<br/>
			{% if form.data_compra.errors %}
				{% for error in form.data_compra.errors %}
					<div id="group-error" class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Data da Compra: {{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %} 			
			{{ form.data_compra }}
			<br/>
			{{ form.marca.label }}<br/>
			{% if form.marca.errors %}
				{% for error in form.marca.errors %}
					<div id="group-error" class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Marca: {{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %} 			
			{{ form.marca }}		
			<br/>			
			
			<input type="submit" value="Salvar alteração" class="btn btn-success" name="save"/>
			<a href="/produtos/" class="btn">Cancelar</a>
			
		</form>
		
		
		
		<a href="/produto_fotos/{{ produto.id }}">
			Fotos (Adicionar/Alterar)<br/><br/>
		</a>
	
		<!-- Asisco LightBox:Inline Start -->
			<a href="#inline-2" rel="prettyPhoto[inline]"><img src="{{foto_main.foto.url}}" height="200" width="250"/></a>
			<div id="inline-2" style="display:none;">
				<img src="{{foto_main.foto.url}}"/>
			</div>
		<!-- Asisco LightBox:Inline End -->		

		
	</div>
{% endblock %}
