{% extends '_base_simple.html' %}

{% block body %}

	<script type="text/javascript">
		{% if saved == 'S' %}
			alert('Telefone gravado com sucesso');
			close__('S');
		{% endif %}
		
		
		function close__(saved) {
			window.opener.location.reload();// mudar para atualizar somente combobox
			window.close();
		}
		
	</script>
	

	<h3>Cadastro de Telefone</h3>
	
	<form method="POST" action=""> {% csrf_token %}
		{{ form.as_p }}
		<a href="#" class="btn">Cancelar</a>
		<input type="submit" value="Salvar" class="btn btn-primary"/>
	</form> 

<!--	
	<form method="POST" action="">
		<p>
			<label for="id_ddd">Ddd:</label> 
			<input type="text" name="ddd" id="id_ddd" />
		</p>
		<p>
			<label for="id_numero">Numero:</label> 
			<input type="text" name="numero" id="id_numero" />
		</p>
		
	</form>
-->
	

{% endblock %}
