<html>
<head>
	<title>Vendas</title>
</head>
<body>
	Vendas
	<br/>
	{{ nf }}
	<br/><br/>
	
	{% for nf in nfs %}
	
		NF: {{ nf.numero }} <br/>
		Cliente: {{ nf.cliente.nome }} <br/>
		Data: {{ nf.data }} <br/>
		
		<br/>
		
		<b style="color: red;">Produtos</b>
		<table border="1">
			<tr>
				<td>Codigo</td>
				<td>Nome</td>
				<td>Valor</td>
				<td>Marca</td>
			</tr>
			{%  for p in nf.produtos.all %}
			<tr>
				<td>{{ p.codigo }}</td>
				<td>{{ p.nome }}</td>
				<td>{{ p.valor }}</td>
				<td>{{ p.marca.nome }}</td>
			</tr>		
			{% endfor %}
		</table>
		<hr/>
	{% endfor %}
</body>
</html>
