{% extends '_base.html' %}

{% block body %}
	
	
	<br/><br/><br/>

	<div class="container">
		
		<h1> Notas Fiscais</h1>
		
		<div class="text-right">
			<a href="/nf_form4/0" class="btn btn-success">Realizar venda</a>
		</div>
		
		<br/>
		
		<table class="table table-striped table-hover" >
			<tr class="text-info">
				<td>ID</td>
				<td>NF</td>
				<td>Cliente</td>
				<td>Data</td>
				<td>Valor NF</td>
				<td>Finalizada</td>
				<td>Ação</td>
			</tr>
			{% for nf in nfs %}
			<tr>
				<td>{{ nf.id }}</td>
				<td>{{ nf.numero }}</td>
				<td>{{ nf.cliente.nome }}</td>
				<td>{{ nf.data }}</td>
				<td>R$ {{ nf.valorTotal }}</td>
				<td>{{ nf.finalizada }}</td>
				<td>
					<div class="btn-group">
					  <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
						<i class="icon-cog"></i>
						<span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
						  {% if nf.finalizada %}						
						    <li><a href="/nf_final/{{ nf.id }}/" title="Visualizar..."><i class="icon-share-alt"></i> Visualizar nf...</a></li>
						  {% else %}
							<li><a href="/nf_det/{{ nf.id }}/" title="mais detalhes..."><i class="icon-share-alt"></i> Adicionar/Editar Items...</a></li>
							<li><a href="/nf_form4/{{ nf.id }}/" title="Editar..."><i class="icon-share-alt"></i> Editar nf...</a></li>
						  {% endif %}
					  </ul>
					</div>		
				</td>				
			</tr>		
			{% endfor %}
		</table>
	</div>		

{% endblock %}
