{% extends '_base.html' %}

{% block body %}
	
	<div class="container">
		<br/><br/>
		<br/><br/>
		
		<div class="row">
		<h3>
			<div class="span3">
				<span class="text-error">NF: </span>{{ nf.numero }}
			</div>
			<div class="span3">
				<span class="text-error">CNPJ: </span>{{ nf.cliente.cnpj_cpf }}
			</div>
		</h3>
		</div>
		<div class="row">
			<div class="span3">
				<p><span class="text-error">Cliente: </span>{{ nf.cliente.nome }}</p>
			</div>
			<div class="span3">
				<p><span class="text-error">Data: </span>{{ nf.data }}</p>
			</div>
		</div>
		
		<br/>		
		<div class="pull-right">
			<a href="/vendas_produtos/" class="btn">Voltar</a>
			{% if nf.finalizada %}
				<a href="/nf_print/{{nf.id}}/" class="btn" target="_blank">Imprimir</a>
			{% else %}
				<a href="/nf_delete/{{ nf.id }}/" onclick="delete__(this.href); return false;" class="btn btn-danger">Excluir Nota</a>
				<a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Finalizar venda</a>		
			{% endif %}
		</div>
		<div>
			{% if not nf.finalizada %}
				<a href="/add_prod/{{nf.id}}/" class="btn btn-inverse" onclick="delete__(this.href); return false;">Add Produto</a>		
			{% else %}
				<h4 class="text-error">Nota Finalizada</h4>
			{% endif %}
		</div>
		
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
					<h5 id="myModalLabel">Finalizar</h5>
			</div>
			<div class="modal-body">
				  <p>
						Deseja realmente Finalizar nota: {{ nf.numero }}
				  </p>
			</div>
			<div class="modal-footer">
				<a href="/nf_finalizar/{{nf.id}}" class="btn btn-success">Sim</a>
				<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Não</button>
			</div>
		</div>		
				
		<br/>
		
		<h5 class="text-info">Produtos</h5>
		<table class="table">
			<thead>
				<tr class="text-info">
					<!--<td>ID</td>-->
					<td>Código</td>
					<td>Nome</td>
					<td>Marca</td>
					<td>Valor Unt.</td>
					<td>Qtde</td>
					<td>Valor</td>
					{% if not nf.finalizada %}
						<td>Ação</td>
					{% endif %}
				</tr>
			</thead>
    		<tfoot>
				<tr>
					<!--<td></td>-->
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>R$  {{ nf.valorTotal }}</td>
					{% if not nf.finalizada %}
						<td></td>
					{% endif %}
				</tr>
			</tfoot>			
			{% for item in items %} 
			<tr> 
				<!--<td>{{ item.produto.id }}</td>-->
				<td>{{ item.produto.codigo }}</td>
				<td>{{ item.produto.nome }}</td>
				<td>{{ item.produto.marca.nome }}</td>
				<td>{{ item.produto.valor }}</td>
				<td>{{ item.quantidade }}</td>
				<td>R$ {{ item.valorTotal }}</td>
				{% if not nf.finalizada %}
					<td><a href="/nf_produto_delete/{{item.id}}/" title="Exluir Produto da Nota" onclick="delete__(this.href); return false;">Excluir</a></td>
				{% endif %}
			</tr>
			{% empty %}
				<h3>Não há produtos relacionados na Nota Fiscal</h3>
			{% endfor %}
		</table>
		
	</div>
	
{% endblock %}
