{% extends '_base.html' %}

{% block body %}		



	  <link rel="stylesheet" href="/media/gallery/lightbox/asisco/lightbox2/css/lightbox.css" type="text/css" media="screen" />
	  <link rel="stylesheet" href="/media/gallery/lightbox/asisco/lightbox2/css/screen2.css" type="text/css" media="screen" />
		
	  <script src="/media/gallery/lightbox/asisco/lightbox2/js/jquery-1.7.2.min.js"></script>
	  <script src="/media/gallery/lightbox/asisco/lightbox2/js/lightbox.js"></script>

	<script>
	  jQuery(document).ready(function($) {
		  $('a').smoothScroll({
			speed: 1000,
			easing: 'easeInOutCubic'
		  });

		  $('.showOlderChanges').on('click', function(e){
			$('.changelog .old').slideDown('slow');
			$(this).fadeOut();
			e.preventDefault();
		  })
	  });

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2196019-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>  

	
	<div class="container">
		
		<br/><br/>
		
		<!--<h3> Cadastrar Nova Foto para "{{ produto.nome }}"</h3>-->
		<a href="/produto_edit/{{produto.id}}" class="btn btn-large">Voltar</a>
		<!--<a href="#new" role="button" data-toggle="modal" class="btn btn-success btn-large">Cadastrar Nova Foto para "{{ produto.nome }}"</a>-->
		<a href="/produto_fotos_form/?foto_produto_id=0&produto_id={{produto.id}}" class="btn btn-success btn-large" onclick="delete__(this.href); return false; ">Cadastrar Nova Foto para "{{ produto.nome }}"</a>
		
		<hr/>
		<h1>Fotos</h1>
					
		  <div class="imageRow">
			<div class="set">
			  {% for f in fotos %}
				  <div class="single">
					  <!--
					  <a href="/media/gallery/lightbox/asisco/lightbox2/images/examples/image-3.jpg" rel="lightbox[plants]" title='Click on the right side of the image to move forward. <a href="http://asisco.com.br" onclick="alert(this.href);">link</a>'>
					  <img src="/media/gallery/lightbox/asisco/lightbox2/images/examples/thumb-3.jpg" alt="Plants: image 1 de 4 thumb" /></a> 
					  -->
					  <a href="{{f.foto.url}}" rel="lightbox[plants]" title='<a href="/produto_fotos_form/?foto_produto_id={{f.id}}&produto_id={{produto.id}}" onclick="delete__(this.href);">Editar Foto</a> | <a href="/produto_foto_delete/?foto_produto_id={{f.id}}&produto_id={{produto.id}}" onclick="delete__(this.href);">Excluir</a>'>
					  <img src="{{f.foto.url}}" height="200" width="250" alt="Plants: image 1 de 4 thumb"/></a> 					  
				  </div>
			   {% endfor %} 
			</div>
		  </div>		
		
	</div>
{% endblock %}
