{% extends '_base.html' %}

{% block body %}
	
	<br/><br/><br/>
	
	<div class="container">
		<h1>Cadastro de Usuario (Alteração)</h1>
		<br/>
		{% if userPlus.foto != '' %}
			<a href="/userPlus_edit/{{user.id}}"><img src="{{userPlus.foto.url}}" width="100" height="100"></img></a>
		{% endif %}
		
		<!-- Inclusao de foto S=SIM-->
		{% if foto != 'S' %}
			<a href="/userPlus_edit/{{user.id}}" class="btn">Foto</a><br/>
		{% endif %}		

		{% if foto == 'S' %}
			<a href="/userPlus_delete/{{userPlus.id}}">Excluir</a>
		{% endif %}				
		
		<br/>
		
		<form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
			
			<input type="hidden" value="{{user.id}}" name="user"/>
		
			{{ form.as_p }}
			<input type="submit" value="Salvar alteração" class="btn btn-success"/>
			<a href="/user_edit/{{user.id}}" class="btn">Cancelar</a><br/>
		</form>
		
		<hr/>

	</div>
	
	
{% endblock %}
